%table
  %thead
    %th User
    %th Starting Balance
    %th Contributions
    %th Reinvestments
    %th Gross Gains
    %th Management Fee
    %th Ending Balance
  %tbody
    - @growths.each do |growth|
      %tr
        %th= growth.user
        %td= number_to_currency growth.starting_value
        %td= number_to_currency growth.contributions.sum(&:amount)
        %td= number_to_currency growth.reinvestments.sum(&:amount)
        %td= number_to_currency growth.gross_gains
        - if growth.tentative?
          %td.tentative= number_to_currency -growth.estimated_fee
          %th.tentative= number_to_currency growth.tentative_value
        - else
          %td= number_to_currency -growth.booked_fee
          %th= number_to_currency growth.value
  %tfoot
    %tr
      %th
      %th= number_to_currency @growths.sum(&:starting_value)
      %th= number_to_currency @growths.flat_map(&:contributions).sum(&:amount)
      %th= number_to_currency @growths.flat_map(&:reinvestments).sum(&:amount)
      %th= number_to_currency @growths.sum(&:gross_gains)
      - if @growths.all?(&:tentative?)
        %th.tentative= number_to_currency -@growths.sum(&:estimated_fee)
        %th.tentative= number_to_currency @growths.sum(&:tentative_value)
      - else
        %td= number_to_currency -@growths.sum(&:booked_fee)
        %th= number_to_currency @growths.sum(&:value)
