%dl
  %dt Symbol
  %dd= @investment.symbol

  %dt Name
  %dd= @investment.name

  %dt 52 week price
  %dd #{number_to_currency @investment.year_low} - #{number_to_currency @investment.year_high}

%div#price
  :javascript
    $.getJSON('#{url_for([:adjusted_prices, @investment])}', function(data){
      new InvestmentGraph('#price').add(data)
    })
