%ul
  - @years.each do |year|
    %li{id: "y#{year}"}
      = year
      = link_to 'Form 1065',  id: year, action: :form_1065
      = link_to 'Schedule D', id: year, action: :schedule_d
      = link_to 'Schedule K', id: year, action: :schedule_k
