%h2 Form 8949 &mdash; Sales and Other Dispositions of Capital Assets
%table
  %thead
    %tr
      %th Description
      %th Date acquired
      %th Date sold
      %th Shares
      %th Proceeds
      %th Cost Basis
      %th Realized Gain
  %tbody
    - @year_summary.close_transactions.each do |transaction|
      %tr
        %th= transaction.investment.symbol
        %td= transaction.lot.open_date.to_formatted_s
        %td= transaction.date.to_formatted_s
        %td= -transaction.shares
        %td= number_to_currency transaction.value
        %td= number_to_currency transaction.cost_basis
        %td= number_to_currency transaction.realized_gain
  %tfoot
    %tr
      %td{colspan: 4}
      %th= number_to_currency @year_summary.close_transactions.to_a.sum(&:value)
      %th= number_to_currency @year_summary.close_transactions.to_a.sum(&:cost_basis)
      %th= number_to_currency @year_summary.close_transactions.to_a.sum(&:realized_gain)
