%h2 Schedule K &mdash; Partners' Distributive Share Items
%table
  %thead
    %tr
      %th Category
      %th Total
      - @year_summary.users.each do |user|
        %th= user.email
  %tbody
    %tr
      %th Ordinary income
      %td= number_to_currency -@year_summary.expenses.sum(&:amount)
    - @year_summary.events.each do |category, events|
      %tr
        %th= category
        %td= number_to_currency events.sum(&:amount)
    %tr
      %th Short-term capital gain
      %td= number_to_currency @year_summary.close_transactions.sum(&:realized_gain)
