%h2 Form 8949 &mdash; Sales and Other Dispositions of Capital Assets
%table
  %thead
    %tr
      %th Description
      %th Date acquired
      %th Date sold
      %th Shares
      %th Proceeds
      %th Cost Basis
      %th Realized Gain
  %tbody
    - @schedule_d.closing_activities.each do |activity|
      %tr
        %th= activity.investment.symbol
        %td= activity.lot.opening(:date).to_formatted_s
        %td= activity.date.to_formatted_s
        %td= -activity.shares
        %td= number_to_currency activity.value
        %td= number_to_currency activity.cost_basis
        %td= number_to_currency activity.realized_gain
  %tfoot
    %tr
      %td{colspan: 4}
      %th= number_to_currency @schedule_d.closing_activities.sum(&:value)
      %th= number_to_currency @schedule_d.closing_activities.sum(&:cost_basis)
      %th= number_to_currency @schedule_d.closing_activities.sum(&:realized_gain)
