%table
  %thead
    %tr
      %th Investment
      %th Purchase Date
      %th Purchase Price
      %th Current Price
      %th Outstanding Shares
      %th Current Value
      %th{colspan: 2} Unrealized Gain
  - @position_summaries.each do |summary|
    %tbody
      %tr.summary
        %th{rowspan: summary.positions.size+1}= summary.investment.symbol
        %td= summary.opening(:date)
        %td= number_to_currency summary.opening(:adjusted_price)
        %td= number_to_currency summary.current_price
        %td= summary.outstanding_shares
        %td= number_to_currency summary.current_value
        %td= number_to_currency summary.unrealized_gain
        %td= number_to_percentage 100*summary.unrealized_gain_percent
      - if summary.expandable?
        - summary.positions.each do |position|
          %tr.position
            %td= position.opening(:date)
            %td= number_to_currency position.opening(:adjusted_price)
            %td= number_to_currency position.current_price
            %td= position.outstanding_shares
            %td= number_to_currency position.current_value
            %td= number_to_currency position.unrealized_gain
            %td= number_to_percentage 100*position.unrealized_gain_percent
