%dl
  %dt Symbol
  %dd= @investment.symbol

  %dt Name
  %dd= @investment.name

  %dt 52 week price
  %dd #{number_to_currency @investment.year_low} - #{number_to_currency @investment.year_high}

  %dt Price
  %dd
    = link_to 'table', prices_admin_investment_path(@investment)
    %div#price-wrapper{'data-mutiny-graph' => j(url:   prices_admin_investment_path(@investment, format: 'json'),
                                                xAxis: 'date',
                                                yAxis: 'adjusted_close')}
