%table
  %th Year
  %th Starting Balance
  %th Contributions
  %th Gross Gains
  %th Management Fee
  %th Ending Balance
  - @user_summaries.each do |summary|
    %tr
      %th= summary.year
      %td= number_to_currency summary.starting_balance
      %td= number_to_currency summary.contributions
      %td= number_to_currency summary.gross_gains
      %td= number_to_currency summary.management_fee
      %th= number_to_currency summary.ending_balance
