%table
  %th Year
  %th Starting Balance
  %th Contributions
  %th Reinvestments
  %th Gross Gains
  %th Management Fee
  %th Ending Balance
  - @user_growths.each do |growth|
    %tr
      %th= growth.year
      %td= number_to_currency growth.starting_value
      %td= number_to_currency growth.contributions.sum(&:amount)
      %td= number_to_currency growth.reinvestments.sum(&:amount)
      %td= number_to_currency growth.gross_gains
      - if growth.closed?
        %td= number_to_currency -growth.booked_fee
        %th= number_to_currency growth.value
      - else
        %td.tentative= number_to_currency -growth.unbooked_fee
        %th.tentative= number_to_currency growth.value
