!!!
%html
  %head
    %title FENGB-NVST
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', async: true
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    = csrf_meta_tags
    = content_for(:head)

  %body
    %h1 FENGB-NVST
    %main= yield
    %footer
      %div{class: 'copy'} Benjamin Feng &copy; #{Date.current.year}
      %div{class: 'tech'} Powered by #{link_to 'NVST', 'https://github.com/fengb/nvst'}

    = content_for(:tail)
