!!!
%html
  %head
    %title FENGB-NVST
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    %h1 FENGB-NVST
    %main= yield
    %footer
      %div{class: 'copy'} Benjamin Feng &copy; #{Date.current.year}
      %div{class: 'tech'} Powered by #{link_to 'NVST', 'https://github.com/fengb/nvst'}

    = javascript_include_tag "application"
    = content_for(:tail)
