!!!
%html
  %head
    %title NVST
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %main= yield
    %footer
      %div{class: 'copy'} Copyright &copy; 2013-2014 Benjamin Feng
      %div{class: 'tech'} Powered by #{link_to 'NVST', 'https://github.com/fengb/nvst'}
